<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-doente-heading" jhiTranslate="dialwinApp.doente.home.createOrEditLabel">Create or edit a Doente</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dialwinApp.doente.situacao" for="field_situacao">Situacao</label>
                    <select class="form-control" name="situacao" formControlName="situacao" id="field_situacao">
                        <option value="StatusPRHD">{{'dialwinApp.Situacao.StatusPRHD' | translate}}</option>
                        <option value="StatusFalecido">{{'dialwinApp.Situacao.StatusFalecido' | translate}}</option>
                        <option value="StatusTranspl">{{'dialwinApp.Situacao.StatusTranspl' | translate}}</option>
                        <option value="StatusRecFam">{{'dialwinApp.Situacao.StatusRecFam' | translate}}</option>
                        <option value="StatusTransfer">{{'dialwinApp.Situacao.StatusTransfer' | translate}}</option>
                        <option value="StatusDP">{{'dialwinApp.Situacao.StatusDP' | translate}}</option>
                        <option value="StatusInternado">{{'dialwinApp.Situacao.StatusInternado' | translate}}</option>
                        <option value="StatusEmTransito">{{'dialwinApp.Situacao.StatusEmTransito' | translate}}</option>
                        <option value="StatusEmFerias">{{'dialwinApp.Situacao.StatusEmFerias' | translate}}</option>
                        <option value="StatusAlta">{{'dialwinApp.Situacao.StatusAlta' | translate}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dialwinApp.doente.turnos" for="field_turnos">Turnos</label>
                    <select class="form-control" id="field_turnos" name="turnos" formControlName="turnos">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="turnosOption.id === editForm.get('turnos').value?.id ? editForm.get('turnos').value : turnosOption" *ngFor="let turnosOption of turnos; trackBy: trackTurnosById">{{turnosOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
