<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vitalidade">
            <h2><span jhiTranslate="dialwinApp.vitalidade.detail.title">Vitalidade</span> {{vitalidade.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="dialwinApp.vitalidade.nome">Nome</span></dt>
                <dd>
                    <span>{{vitalidade.nome}}</span>
                </dd>
                <dt><span jhiTranslate="dialwinApp.vitalidade.percentagem">Percentagem</span></dt>
                <dd>
                    <span>{{vitalidade.percentagem}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vitalidade', vitalidade.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
