#form{
    margin-top: 3rem;
}

.demoid{
    width: 70%;
    margin: auto;
}

#save-entity{
    font-size: 1vw;
    margin-left: 1rem;
    margin-top: 2rem;
}

label{
    font-weight: 900;
}

.lab{
    font-size: 1vw;
}