<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-sub-sistemas-heading" jhiTranslate="dialwinApp.subSistemas.home.createOrEditLabel">Create or edit a Sub Sistemas</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dialwinApp.subSistemas.gidNome" for="field_gidNome">Gid Nome</label>
                    <input type="text" class="form-control" name="gidNome" id="field_gidNome"
                           formControlName="gidNome"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dialwinApp.subSistemas.gidCode" for="field_gidCode">Gid Code</label>
                    <input type="number" class="form-control" name="gidCode" id="field_gidCode"
                           formControlName="gidCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="dialwinApp.subSistemas.subSisGrupo" for="field_subSisGrupo">Sub Sis Grupo</label>
                    <select class="form-control" id="field_subSisGrupo" name="subSisGrupo" formControlName="subSisGrupo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="subSisGrupoOption.id === editForm.get('subSisGrupo').value?.id ? editForm.get('subSisGrupo').value : subSisGrupoOption" *ngFor="let subSisGrupoOption of subsisgrupos; trackBy: trackSubSisGrupoById">{{subSisGrupoOption.gidDesigna}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
